@import '~styles.scss';

.header-container {
    display: grid;
    grid-template-columns: 100px auto 150px 150px;
    background: linear-gradient($milano-red, $dark-burgundy);
    height: 96px;
}

.header-logo {
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin-top: 10%
}

.header-date {
    color: white;
}

.header-time {
    color: white;
}

.header-title-players {
    display: flex;
}

.centred-box {
    display:grid;
    align-items: center;
    text-align: center;
}

.font-title {
    font-family: 'Raleway', sans-serif;
}

.font-numbers {
    font-family: 'Arimo', sans-serif;
}

.centred-image {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.side-border-short {
    display: grid;
    align-items: center;
    height: 85%;
    border-left: 1px solid rgba(20, 13, 13, 0.22);
}

.bottom-border { 
    @include bottom-border-gradient(4px, $dark-burgundy, $temptress); 
}