.widgets-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    background-color: rgb(240, 236, 217);
    background-repeat: repeat;
    background-image: url("/assets/images/arabesque.png");
    background-blend-mode: multiply;
    height: 100%;

}

.widget-container {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 200px;
}

.centred-box {
    display:grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.grid-row2of3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.side-border-container{
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    height: 180px;
    border-left: 1px solid rgba(20, 13, 13, 0.22);
}

.bottom-border {
    border-bottom: 3px solid black;
    box-sizing: border-box;
    border-image-source: linear-gradient(rgb(240, 236, 217) 0%, rgb(235, 233, 223) 60%, rgb(190, 190, 170) 100%);
    border-image-slice: 100;
}

.bottom-border-line {
    border-bottom: 1px solid black;
}