.fixtures-container {
    height: 100%;
    background: red;
}

.fixtures-title {
    height: 100px;
    background: rgb(247, 247, 247);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(20, 13, 13, 0.22);
}

.centred-box {
    display:grid;
    align-items: center;
    text-align: center;
}