.matchDate {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: calc(100% - 5px);
    position: relative;
    left: 2.5px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.matchTime {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.matchGroup {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.teamOneFlag {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.teamOneFlagContainer {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
    overflow: hidden;
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    background: rgb(240,240,240);
}

.teamOneName {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
    justify-self: right;
    font-family: 'Concert One', cursive;
    font-size: 18px;
}

.teamOneScore {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.teamTwoFlag {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.teamTwoFlagContainer {
    grid-column: 9 / span 2;
    grid-row: 1 / span 1;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    background: rgb(240,240,240);
}

.teamTwoName {
    grid-column: 9 / span 1;
    grid-row: 1 / span 1;
    justify-self: left;
    font-family: 'Concert One', cursive;
    font-size: 18px;
}

.teamTwoScore {
    grid-column: 8 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.teamOneScorePredicted {
    grid-column: 12 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.teamTwoScorePredicted {
    grid-column: 13 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.points {
    grid-column: 15 / span 1;
    grid-row: 1 / span 1;
    background: rgb(240,240,240);
    height: 60px;
    width: calc(100% - 5px);
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 2.5px;
}

.img {
    transform: scale(1.1) skew(-4deg);
    // height: 80%;

    // position: relative;
    // left: 10px;
}

@mixin flag-background-direction($direction, $colorleft, $colormiddle, $colorright) {
    mask-image: linear-gradient(to $direction, $colorleft, $colormiddle, $colorright);
    @if $direction == 'left' { 
    }
    @else if $direction == 'right' { 
    }
}

.img-teamOne {
    @include flag-background-direction(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 90%);
}

.img-teamTwo {
    @include flag-background-direction(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 90%);
}

.z1 {
    z-index: 3;
}

.z0 {
    z-index: 0;
}

.test {
    background: red;
    height: 100%;
    width: 50%;
    z-index: 4;
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
}