/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0px;
    margin: 0px;
}


//Colour palette

$rustic-red: rgb(72,4,4);
$dark-burgundy: rgb(119,15,5);
$lonestar: rgb(109,1,1);
$burnt-umber: rgb(134,39,39);
$milano-red: rgb(167,7,7);
$temptress: rgb(77,0,0);

//Font Families
$roboto: 'Roboto', sans-serif;



@mixin bottom-border-gradient($thickness, $dark-color, $light-color) {
    border-bottom: $thickness solid;  
    border-image-source: linear-gradient($dark-color, $light-color);
    border-image-slice: 100;
}




