.widget {
    display: grid;
    height: 100%;
    grid-template-rows: 3fr repeat(4,4fr);
    align-items: center;
    justify-items: left;
}

.table-header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 14px;
    background: rgb(133, 9, 9);
}

.table-row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 30px;
    align-items: center;
    border-bottom: 1px solid grey;
    background: linear-gradient(to right, rgba(87, 4, 4, 0.95) 2px, rgba(117, 6, 6, 0.95), rgba(117, 6, 6, 0.9), 
    rgba(117, 6, 6, 0.945), rgba(87, 4, 4, 0.95) 2px);
    color: rgb(202, 194, 194);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.justify-center {
    justify-self: center;
}

.bottom-border {
    border-bottom: 2px solid;  
    border-image-source: linear-gradient(rgb(117, 7, 7), rgb(100, 1, 1));
    border-image-slice: 100;
}

.middle-border {
    border-bottom: 2px solid;  
    border-image-source: linear-gradient(rgb(134, 39, 39), rgb(100, 1, 1));
    border-image-slice: 100;
}