@import '~styles.scss';

/*
Positioning
Display Properties
Color
Text
Other
*/

$text-color-title: white;

$title-font: $raleway;
$normal-font: $roboto;


@mixin widget-columns {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 30px;
    align-items: center;
}


.widget {
    height: 100%;
    
    display: grid;
    grid-template-rows: 3fr repeat(4,4fr);
    justify-items: left;
    align-items: center;
}

.table-header {
    width: 100%;
    height: 100%;

    @include widget-columns;

    background: $dark-burgundy;

    color: $text-color-title;
    font-family: $title-font;
    font-size: 14px;
    font-weight: bold;
}

.table-row {
    width: 100%;
    height: 100%;

    @include widget-columns;
    
    background: linear-gradient(to right, rgba($rustic-red, 0.95) 2px, rgba($dark-burgundy, 0.95), rgba(117, 6, 6, 0.9), 
    rgba($dark-burgundy, 0.95), rgba($rustic-red, 0.95) 2px);
    
    color: darken($text-color-title, 15%);
    font-family: $normal-font;
    font-size: 12px;
    font-weight: bold;
}

.justify-center {
    justify-self: center;
}

.bottom-border { 
    @include bottom-border-gradient(2px, $dark-burgundy, $lonestar); 
}

.middle-border { 
    @include bottom-border-gradient(2px, $burnt-umber, $lonestar); 
}