@import '~styles.scss';

.matchday-container {
    display: grid;
    grid-template: 30px auto 30px / 1fr 120px 5px auto 20px 1fr;
    height: auto;
    // background: rgb(240, 240, 240);
    background: white;
    background-image: url(/assets/images/body-bg5.png);
    border-bottom: 1px solid rgba(20, 13, 13, 0.22);
}

.matchday-title {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-weight: bold;
    background: $dark-burgundy;
    color: white;
}

.fixtures-table {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.centred-box {
    display:grid;
    align-items: center;
    text-align: center;
}

.font-title {
    font-family: 'Raleway', sans-serif;
}

.font-numbers {
    font-family: 'Arimo', sans-serif;
}